.container {
    display:flex;
    align-items: center;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(185, 181, 181);
    
    padding: 10px;
    
}
.container:hover {
    background-color: rgba(139, 40, 48, 0.651);
    cursor: pointer;
}

#list-item-check, #list-item-otptions {
    flex: 0 0 auto;
}

#list-item-content {
    flex: 1 1 auto;
    padding-left: 0px 10px;
}

#btn-favourite .material-icons-outlined {
    color: #777;
}

#btn-favourite {
    width: auto;
    min-width: auto;
    padding: 0px;
    color: orange;
}

#list-item-content .due-date{
    font-size: x-small;
    color: rgb(240, 187, 213);
    
}

.container {
   background-color: rgba(0, 0, 0, 0.61); 
}