.container {
    display:flex;
    align-items: center;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
    
    padding: 10px;
    
}
.container:hover {
    background-color: bisque;
    cursor: pointer;
}

#list-item-check, #list-item-otptions {
    flex: 0 0 auto;
}

#list-item-content {
    flex: 1 1 auto;
    padding-left: 0px 10px;
}

#btn-favourite .material-icons-outlined {
    color: #777;
}

#btn-favourite {
    width: auto;
    min-width: auto;
    padding: 0px;
    color: orange;
}

#list-item-content .due-date{
    font-size: x-small;
    color: gray;
}