mat-drawer-container {
    height: 100%;
}

mat-drawer {
    background-color: #4a4a4a;
    width: 250px;
}

mat-drawer-content {
    background-image: url(../../../assets/crown-4rohoS8aLlQ-unsplash.png);
}

#list-title {
    padding: 10px;
    text-align: left;
    width: calc(100% - 20px);
    background-color: rgb(194 24 91);
    color: white;
    font-weight: bold;
}

#lists {
    padding-top: 10px;
}

#lists button {
    display: inline-block;
    width: 100%;
    color: white;
    text-align: left;
    border-radius: 0px;
}

#lists button:hover {
    background-color: rgb(158, 43, 43);
}

#lists button.selected {
    background-color: rgba(139, 40, 48, 0.651);
}

.container {
    padding: 10px;
}